.container-header__logo {
    color: var(--primary-header-logo);
    text-decoration: none;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.container-header__accent {
    color: var(--accentt-color);
}