.nav {
  margin-left: 93px;
}

.nav-list {
  @extend %list;
  display: flex;
  padding-inline-start: 0px;
}

.nav-list__item {
  &:not(:first-child) {margin-left: 50px;}
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 35px 0px;

  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link {
  &:visited {color: var(--primary-title-color);}
}

.nav-list__link {
  &:hover, &:focus {color: var(--accentt-color);}
}

.nav-list__link--current {
  color: var(--accentt-color);
}

.nav-list__link--current {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 2px;
  
    background-color: var(--accentt-color);
  }
}
