.list-filter {
  @extend %list;
/*   display: flex; */
  justify-content: center;
  padding-left: 0px;
  margin: 0px 0px 50px;
}

.list-filter__item {
  &:not(:last-child) {margin-right: 8px;}
}

.list-filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-title-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-filter__button {
  &:hover, &:focus {
  background-color: var(--accentt-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  color: var(--white-text-color);
  }
}
