.container-subscription {
  margin-left: auto;
}

.subscription-form {
  display: block;
  flex-direction: row;
}

.subscription-form__input {
  width: 356px;
  margin-right: 12px;
  padding: 0px 0px 0px 16px;
  font-size: 20px;
  line-height: 2.4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form__input {
  &:hover, &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.subscription-form__input {
  &:not(:placeholder-shown) {
    border-color: rgb(255, 255, 255);
  }
}

.subscription-form__input {
  &::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  }
  
}

.subscription-form__button {
  display: flex;
  padding: 10px 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}

.subscription-form__telegram-txt {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subscription-form__telegram-icon {
  fill: currentColor;
}
