.hero {
  max-width: 100%;
  margin: 0px auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-image.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 118px 60px;
  outline: 1px solid orangered;
}

@media screen and (min-width: 480px) {
  .hero {
    width: auto;
    height: 400px;
  }
}

.container-hero {
}

.container-hero__title {
  margin-bottom: 30px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.container-hero__button {
  padding: 10px 32px;
  min-width: 216px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accentt-color);
  cursor: pointer;
  text-align: center;
}
