.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0px auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-image.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 0px;
  outline: 1px solid orangered;
}

@media screen and (min-width: 480px) {
  .hero {
    width: auto;
    height: 400px;
  }
}

.container-hero {
  @extend %container;
}

.container-hero__title {
  width: 696px;
  margin: 0px auto 30px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.container-hero__button {
  padding: 10px 32px;
  min-width: 216px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accentt-color);
  cursor: pointer;
  text-align: center;
}
