/* Секция "Подход к работе" */
.advantage {
  @extend %section;
  padding: 60px 15px;
}

.container-advantage {
  @extend %container;
}

.advantage-list {
  @extend %list;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.advantage-list__item {
  width: auto;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {margin-bottom: 30px;}
    outline: 1px solid orange;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    height: 223px;

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
}

/* .advantage-list__item {
  &:not(:first-child) {margin-left: 30px;}
} */

.advantage-list__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}


.advantage-list__title {
  margin-bottom: 10px;

  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.advantage-list__text {
  font-size: 14px;
  line-height: 1.71;
}
